NODE_ENV=development
CAMPAIGN_SERVICE_PORT=3007
MYSQL_HOST=localhost
MYSQL_PORT=3306
MYSQL_USER=nyife_user
MYSQL_PASSWORD=nyife_pass
MYSQL_DATABASE=nyife_db
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=
KAFKA_BROKERS=localhost:9092
CORS_ORIGINS=http://localhost:5173
SUBSCRIPTION_SERVICE_URL=http://localhost:3003
WALLET_SERVICE_URL=http://localhost:3004
CONTACT_SERVICE_URL=http://localhost:3005
TEMPLATE_SERVICE_URL=http://localhost:3006
WHATSAPP_SERVICE_URL=http://localhost:3009
